* {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/*
NAVBAR RELATED STUFF
*/

.navbar {
    background-color: #242424;
}

.company-icon {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
}

.nav-item a{
    color: #FFFFFF;
}

.nav-item a:hover{
    color: #E8D1DF;
}

.navbar-toggler {
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.navbar-toggler:hover {
    color: #E8D1DF;
}

/*CAROUSEL ON THE HOME PAGE*/
.carousel-inner img{
    width: 100%;
    height: 100%;
}

.container {
padding-top: 3em;
padding-bottom: 3em;
}

.testimonial-card {
    padding: 1em;
    padding-top: 2em;
}

.footer {
    background-color: #010101;
    color: white;
}

.footer a{
    font-size: 1.5em;
    color: white;
}

.footer-icon {
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

a:hover{
    text-decoration: none !important;
}

.footer-icon:hover {
    cursor: pointer;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-twitter:hover {
    color: #55ACEE;
}

.fa-instagram:hover {
    color: #CD486B;
}

.fa-linkedin-in:hover {
    color: #007BB5;
}
